<!-- template of the reset password email containing the link to the reset password page inside views -->

<p>

    Click <a href="http://localhost:8000/users/reset-password-page">here</a> to reset your password    

</p>