<!-- comment and related options -->

<li id="comment-<%=j._id%>" class="comment">    
    
    <!-- author and delete option of comment -->

    <div class="comment-author-delete-container">

        <div class="comment-author">
            <span><%=j.user.name%></span>                                
        </div>

        <%if(locals.user && locals.user.id==j.user.id){%>

            <div class="delete-comment-container">
    
                <!-- we send the id of the comment to be deleted using string params -->
                <a href="/comments/destroy/<%=j._id%>" class="delete-comment-button"><i class="fas fa-times"></i></a>
    
            </div>
    
        <%}%>

    </div>

    <!-- comment content -->
    
    <div class="comment-content"><%=j.content%></div>        

</li>