<!-- footer content common to different files -->

<!-- footer container -->

<div id="footer-container">

    <!-- stay connected -->

    <div id="stay-connected">

        <span id="stay-connected-content">Stay connected</span>
        <i class="fas fa-hand-point-right" id="right-icon"></i>
        <i class="fas fa-link" id="link-icon"></i>

    </div>

    <!-- connect -->

    <di id="connect">            

        <i class="fab fa-linkedin-in footer-icons"></i>
        <i class="fab fa-twitter footer-icons"></i>
        <i class="fab fa-google-plus footer-icons"></i>
        <i class="fab fa-facebook footer-icons"></i>
        <i class="fab fa-instagram footer-icons"></i>

    </div>

</div>