<!-- footer content common to different files -->

<div id="footer-container">

    <div id="stay-connected">

        <span>Stay connected</span>
        <i class="fas fa-hand-point-right"></i>

    </div>

    <di id="connect">            

        <i class="fab fa-linkedin-in footer-icons"></i>
        <i class="fab fa-twitter footer-icons"></i>
        <i class="fab fa-google-plus footer-icons"></i>
        <i class="fab fa-facebook footer-icons"></i>
        <i class="fab fa-instagram footer-icons"></i>

    </div>

</div>