<!-- header content common to different files -->

<!-- header container -->

<div id="header-container">

    <div id="heading">

        <span>Social Byte</span> 
        <i class="fas fa-cookie-bite"></i>

    </div>

    <!-- checking if the user is signed in or not(we are using locals.user instead of user, so that we don't get an error that user is not defined as a property which not the case with locals.user which is a property) -->

    <%if(locals.user){%>

        <!-- when locals.user has been assigned a value i.e. the user is signed in, then we display the user's name,email and a sign out link -->

        <div id="profile-link-container">

            <!-- this name link takes the user to the profile page -->
            <a href="/users/profile" class="header-link"><%=locals.user.name%></a>

        </div>

        <div id="email-container"><%=locals.user.email%></div>

        <div id="sign-out-link-container">

            <!-- providing a link for signing out -->
            <a href="/users/sign-out" class="header-link">Sign Out</a>

        </div>

    <%}else{%>

        <!-- when the user is not signed in -->

        <div id="sign-in-link-container"> 

            <!-- providing a link for signing in -->
            <a href="/users/sign-in" class="header-link">Sign In</a>

        </div>


        <div id="sign-up-link-container">

            <!-- providing a link for signing up -->
            <a href="/users/sign-up" class="header-link">Sign Up</a>

        </div>


    <%}%>

    <!-- hamburger icon to show, when the screen size is small -->

    <div id="hamburger">
        <i class="fas fa-bars"></i>
    </div>

</div>