<!-- home specific content -->

<link rel="stylesheet" type="text/css" href="/css/home.css">
<!-- above is the link to the external stylesheet for home specific styling -->

<div id="home-container">

    <!-- posts -->

    <div id="posts">

        <!-- posts heading -->

        <div id="posts-heading">
            <span>Posts</span>
        </div>

        <!-- posts form taking the post content, submitting it and the action to be called is "/posts/create" i.e. the route where the request is sent -->

        <!-- making the posts form visible to the user iff the user is signed in -->

        <%if(locals.user){%>

            <form action="/posts/create" method="POST" id="posts-form">

                <textarea name="content" placeholder="What's on your mind? Post here..." required id="posts-form-content"></textarea>
                <input type="submit" value="Post" id="posts-form-submit">

            </form>

        <%}else{%>

            <div id="sign-in-to-see">
                <span>Sign in to post, comment and see other users</span> 
            </div>

        <%}%>

        <!-- posts list showing all the posts and the posts should be shown even if the user is not signed in -->

        <ul id="posts-list">

            <%for(i of posts){%>

                <!-- including the post -->
                <%-include("_post");%>

            <%}%>
            
        </ul>

    </div>

    <!-- other users -->

    <div id="other-users">

        <!-- other users heading -->

        <div id="other-users-heading">
            <span>Other users</span>
        </div>

        <!-- showing other users if the user is signed in -->

        <%if(locals.user){%>

            <!-- iterating on all the users -->

            <%for(i of users){%>
                
                <!-- showing each user except the signed in user -->

                <%if(i.id!=locals.user.id){%>

                    <div class="other-user-container">

                        <i class="fas fa-caret-right"></i>

                        <!-- we send the id of the user whose profile page is to be rendered -->
                        <a href="/users/profile/<%=i._id%>" class="other-user"><%=i.name%></a>

                    </div>                    

                <%}%>

            <%}%>

        <%}%>

    </div>

</div>

<script src="/js/home_posts_comments.js"></script>
<!-- above is the link to the external js file specific to the home page -->