<html>
    <head>

        <title><%=title%></title>

    </head>

    <body>

        <!-- including the header content -->

        <%-include("_header")%>
        
        <!-- basic home.ejs file for testing the complete process from an incoming request to rendering the  content on the browser -->

        <h1>Home</h1>        

        <!-- including the footer content -->

        <%-include("_footer")%>

    </body>
</html>