<!-- home specific content -->

<link rel="stylesheet" type="text/css" href="/css/home.css">
<!-- above is the link to the external stylesheet for home specific styling -->

<h1>
    Home
</h1>

<!-- posts section -->

<section id="posts">

    <!-- posts heading -->

    <h4>Posts</h4>

    <!-- posts form taking the post content and submitting it -->

    <form action="" method="POST" id="posts-form">

        <textarea name="content" cols="30" rows="5" placeholder="Post here..."></textarea>
        <input type="submit" value="Post">

    </form>

</section>