<!-- home specific content -->

<link rel="stylesheet" type="text/css" href="/css/home.css">
<!-- above is the link to the external stylesheet for home specific styling -->

<h1>
    Home
</h1>

<!-- posts section -->

<section id="posts">

    <!-- posts heading -->

    <h4>Posts</h4>

    <!-- posts form taking the post content, submitting it and the action to be called is "/posts/create" i.e. the route where the request is sent -->

    <!-- making the posts form visible to the user iff the user is signed in -->

    <%if(locals.user){%>

        <form action="/posts/create" method="POST" id="posts-form">

            <textarea name="content" cols="30" rows="5" placeholder="Post here..." required></textarea>
            <input type="submit" value="Post">

        </form>

    <%}%>

    <!-- posts list showing all the posts and the posts should be shown even if the user is not signed in -->

    <ul id="posts-list">

        <%for(i of posts){%>

            <!-- including the post -->
            <%-include("_post");%>

        <%}%>
        
    </ul>

</section>

<!-- other users section -->

<section id="other-users">

    <!-- showing the other users if the user is signed in -->

    <%if(locals.user){%>

        <!-- iterating on all the users -->

        <%for(i of users){%>
            
            <!-- showing each user except the signed in user -->

            <%if(i.id!=locals.user.id){%>

                <!-- we send the id of the user whose profile page is to be rendered -->
                <a href="/users/profile/<%=i._id%>"><%=i.name%></a>

            <%}%>

        <%}%>

    <%}%>

</section>

<script src="/js/home_posts_comments.js"></script>
<!-- above is the link to the external js file specific to the home page -->