<html>
    <head>

        <title><%=title%></title>

    </head>

    <body>
        
        <!-- basic home.ejs file for testing the complete process from an incoming request to rendering the  content on the browser -->

        <h1>Home</h1>        

    </body>
</html>