<!-- sign in specific content -->

<link rel="stylesheet" type="text/css" href="/css/user_sign_in.css">
<!-- above is the link to the external stylesheet for user_sign_in specific styling -->

<!-- sign in container -->

<div id="sign-in-container">

    <!-- sign in heading -->

    <div id="sign-in-heading">

        <span>Sign in</span>        
        <i class="fas fa-sign-in-alt"></i>

    </div>
    
    <!-- form for signing in a user -->
    
    <form action="/users/create-session" method="POST" id="sign-in-form">
    
        <!-- inputs for taking email and password of the user and submitting the sign in data for validation -->
    
        <input type="email" name="email" placeholder="Email" required class="sign-in-input">
        <input type="password" name="password" placeholder="Password" required class="sign-in-input">
    
        <input type="submit" value="Sign In" id="sign-in-button" class="sign-in-input">
    
    </form>
    
    <!-- social authentication via google -->
    
    <div id="sign-in-google-container">

        <a href="/users/auth/google" id="sign-in-google">Sign up/Sign in using</a>
        <i class="fab fa-google"></i>

    </div>
    
    <!-- form for resetting the password  -->
    
    <form action="/users/reset-password-link" method="POST" id="reset-password-form">
    
        <label id="reset-password-label">
        
            <span>Reset password</span>
            <i class="fas fa-sync-alt"></i>
            
        </label>

        <input type="email" name="email" placeholder="Email" required id="reset-password-email" class="reset-password-input">
        <input type="submit" id="reset-password-submit" class="reset-password-input">
    
    </form>

</div>