<!-- sign up specific content -->

<h1>
    Sign Up
</h1>

<!-- form for signing up a new user -->

<form action="/users/create" method="POST">

    <!-- inputs for taking name, email, password(confirming the password too) and submiting the sign up data for creating a new user -->

    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Your Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>

    <input type="submit" value="Sign Up">

</form>

<!-- social authentication via google -->

<p>
    <a href="/users/auth/google">Sign up/Sign in using Google</a>
</p>