<!-- sign up specific content -->

<link rel="stylesheet" type="text/css" href="/css/user_sign_up.css">

<div id="sign-up-container">

    <div id="sign-up-heading">

        <span>Sign up</span>        
        <i class="fas fa-user-plus"></i>

    </div>
    
    <!-- form for signing up a new user -->
    
    <form action="/users/create" method="POST" id="sign-up-form">
    
        <!-- inputs for taking name, email, password(confirming the password too) and submiting the sign up data for creating a new user -->
    
        <input type="text" name="name" placeholder="Your Name" required class="sign-up-input">
        <input type="email" name="email" placeholder="Your Email" required class="sign-up-input">
        <input type="password" name="password" placeholder="Your Password" required class="sign-up-input">
        <input type="password" name="confirm_password" placeholder="Confirm Password" required class="sign-up-input">
    
        <input type="submit" value="Sign Up" id="sign-up-button" class="sign-up-input">
    
    </form>
    
    <!-- social authentication via google -->
    
    <div id="sign-up-google-container">

        <a href="/users/auth/google" id="sign-up-google">Sign up/Sign in using</a>
        <i class="fab fa-google"></i>

    </div>

</div>