<!-- user_profile specific content -->

<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
<!-- above is the link to the external stylesheet for user_profile specific styling -->

<h1>
    Profile
</h1>