<!-- user_profile specific content -->

<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
<!-- above is the link to the external stylesheet for user_profile specific styling -->

<h1>
    Profile
</h1>

<!-- showing the user's name and email(accesssed through the user local object) -->

<ul>

    <li>Name : <%=user.name%></li>
    <li>Email : <%=user.email%></li>

</ul>

<!-- sign out form -->

<form action="/users/sign-out" method="GET">
    <input type="submit" value="Sign Out">
</form>