<html>
    <head>

        <title><%=title%></title>

    </head>

    <body>
        
        <!-- basic user_profile.ejs file for testing the complete process from an incoming request to rendering the  content on the browser -->

        <h1>Profile</h1>

    </body>
</html>