<!-- sign in specific content -->

<h1>
    Sign In
</h1>

<!-- form for signing in a user -->

<form action="/users/create-session" method="POST">

    <!-- inputs for taking email and password of the user and submitting the sign in data for validation -->

    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>

    <input type="submit" value="Sign In">

</form>