// home container

#home-container{

    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 590px;

}

// posts container

#posts{

    width: 65%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(65, 97, 141, 0.4);
    min-height: 530px;
    
}

// other users container

#other-users{
    
    width: 30%;
    margin: 30px 10px;
    border-radius: 10px;    
    padding: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(65, 97, 141, 0.4);
    min-height: 490px;

}

// other users heading

#other-users-heading{

    font-size: 1.2rem;    
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #c7c7c7;
    color: darkslategrey;
    font-weight: bold;
    margin-bottom: 10px;

}

// other user container

.other-user-container{
    
    width: 90%;
    padding: 5px 10px; 
    margin: 5px 0;
    background-color: #c9d8ec;   
    border-radius: 10px;
    color: #32527b;

}

// other user

.other-user{

    text-decoration: none;    
    color: #32527b;

}

// adjusting the posts and other users container according to the device width

@media only screen and (max-width: 500px){

    body #home-container{

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

    body #posts{

        width: 90%;
        height: 65%;

    }

    body #other-users{

        width: 90%;
        height: 19%;
        overflow: auto;
        margin: 10px;

    }

}