// body

body{

    margin: 0;
    display: flex;
    flex-direction: column;   
    justify-content: space-between; 
    height: 120vh;
    font-family: sans-serif;
    min-width: 300px;
    background-image: linear-gradient(to top right, #273344, rgb(146, 191, 255), #273344);
    min-height: 690px;

}

// scrollbar

::-webkit-scrollbar{

    height: 8px;
    width: 8px;

}

::-webkit-scrollbar-track{
    background-color: lightgrey;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(82, 80, 80);
}