/* user_profile specific styling */

h1{

    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: rgb(91, 198, 248);
    border-radius: 50%;
    text-shadow: 2px 2px 4px rgb(153, 190, 233);


}