<!-- template of the email i.e. sent to the user -->

<div>

    <p>Hey <%=comment.user.name%>,</p>

    <p>Your comment - <strong><%=comment.content%></strong> just got published on <i>social byte</i></p>

    <p>

        <div>Thanks</div>
        <div><i>social byte</i></div>

    </p>

</div>