#footer-container {
  height: 10vh;
  background-color: #32527b;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
}

#stay-connected {
  font-size: 1.2rem;
  color: #e9e8e8;
  font-weight: bold;
}

#connect {
  background-color: #e9e8e8;
  padding: 5px;
  border-radius: 10px;
}

.footer-icons {
  font-size: 1.2rem;
  color: darkslategrey;
  margin: 5px;
}

#link-icon {
  display: none;
}

@media only screen and (max-width: 400px) {
  body #link-icon {
    display: inline-block;
  }
  body #stay-connected-content {
    display: none;
  }
  body #right-icon {
    display: none;
  }
  body #connect {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
