/* user_profile specific styling */
#profile-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 300px;
}

#profile-img-container {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: #32527b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#profile-img {
  height: 200px;
  width: 200px;
  border-radius: inherit;
}

#details-container {
  padding: 10px;
  background-color: #90b3e0;
  border-radius: 10px;
}

.details {
  margin: 5px;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 10px;
  background-color: #cad1db;
  color: darkslategrey;
}

#update-profile-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #d2ddeb;
  margin: 0;
}

#update-profile-label {
  font-weight: bold;
  color: darkslategrey;
  width: 15%;
  text-align: center;
  min-width: 160px;
}

.update-profile-input {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 5px;
  background-color: #acc5e6;
  color: darkslategrey;
  width: 20%;
  min-width: 160px;
}

@media only screen and (max-width: 848px) {
  body #file-input {
    width: 40%;
  }
  body #submit-button {
    width: 40%;
  }
}

@media only screen and (max-width: 633px) {
  body #file-input {
    width: 160px;
  }
  body #submit-button {
    width: 160px;
  }
}

@media only screen and (max-width: 435px) {
  body #update-profile-label {
    width: 100%;
  }
  body .update-profile-input {
    width: 100%;
  }
  body #file-input {
    width: 100%;
  }
  body #submit-button {
    width: 100%;
  }
}

::-webkit-file-upload-button {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  color: darkslategrey;
  background-color: #78a5e0;
  font-weight: bold;
}

#submit-button {
  font-weight: bold;
  background-color: #78a5e0;
  font-size: 1rem;
  width: 15%;
}
